/* ==============
CUSTOM PROPERTIES 
================ */
:root {
  --clr-neutral-100: 0 0% 100%;
  --clr-neutral-200: 189 41% 97%;
  --clr-neutral-300: 185 41% 84%;
  --clr-neutral-400: 184 14% 56%;
  --clr-neutral-500: 186 14% 43%;

  --clr-primary-200: 172 82% 83%;
  --clr-primary-400: 172 67% 45%;
  --clr-primary-800: 183 100% 15%;

  --clr-error: 12 93% 56%;

  --ff-primary: "Space Mono", monospace;

  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-350: 1.25rem;
  --fs-400: 1.5rem;
  --fs-500: 2rem;

  --fw-400: 400;
  --fw-700: 700;

  --br-small: 0.25em;
  --br-medium: 0.5em;
  --br-large: 0.75em;
}

/* ==========
RESET
=========== */

/* sets box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* removes default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* removes unnecessary space caused by line height */
h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

/* removes default list styling on ul and ol elements with a role of list */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* sets core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* sets core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
  color: hsl(var(--clr-neutral-500));
  background-color: hsl(var(--clr-neutral-300));

  display: grid;
  place-content: center;
}

/* Ggives default styling to a elements that don't have a class */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* makes images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* inherits fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* removes all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* removes default styling from legend and fieldset */
legend {
  padding: 0;
  display: table;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}
/* ==============
UTILITY CLASSES
=============== */

.container {
  width: 90%;
  max-width: 62rem;
  margin-inline: auto;
}

.flex {
  display: flex;
  gap: var(--flex-gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--grid-gap, 1rem);
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.bg-neutral-100 {
  background-color: hsl(var(--clr-neutral-100));
}
.bg-neutral-200 {
  background-color: hsl(var(--clr-neutral-200));
}
.bg-primary-800 {
  background-color: hsl(var(--clr-primary-800));
}

.text-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}
.text-neutral-300 {
  color: hsl(var(--clr-neutral-300));
}
.text-primary-400 {
  color: hsl(var(--clr-primary-400));
}
.text-primary-800 {
  color: hsl(var(--clr-primary-800));
}

.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-350 {
  font-size: var(--fs-350);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}

.uppercase {
  text-transform: uppercase;
}
.d-block {
  display: block;
}
.center {
  text-align: center;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  clip: rect(0, 0, 0, 0) !important;
  border: none !important;
}

/* ==============
LAYOUT
=============== */

.grid[data-type="primary"] {
  grid-template-columns: 1fr;
  column-gap: 2rem;
}

.grid[data-type="primary"] > * {
  grid-column: 1 / -1;
}

@media (min-width: 56.25em) {
  .grid[data-type="primary"] {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid[data-type="primary"] > *:not(.results) {
    grid-column: 1 / span 1;
  }

  .grid[data-type="primary"] > .results {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
  }
}

.grid[data-type="secondary"] {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 56.25em) {
  .grid[data-type="secondary"] {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.tip-calculator {
  --flow-space: 1.5rem;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: var(--br-large);
}

@media (min-width: 56.25em) {
  .tip-calculator {
    margin-top: 4rem;
  }
}

.tip-calculator fieldset {
  position: relative;
}

fieldset:first-of-type::before {
  content: url("../images/icon-dollar.svg");
  width: 1rem;
  height: 1rem;
  position: absolute;
  inset: 0.25rem auto 0.25rem 1rem;
}

fieldset:last-of-type::before {
  content: url("../images/icon-person.svg");
  width: 1rem;
  height: 1rem;
  position: absolute;
  inset: 0.25rem auto 0.25rem 1rem;
}

.tip-calculator input[type="text"] {
  width: 100%;
  border: none;
  border-radius: var(--br-small);
  padding-block: 0.25rem;
  padding-inline: 1rem;
  color: hsl(var(--clr-primary-800));
  text-align: right;
}

.tip-calculator input[type="text"]:hover {
  outline: none;
  outline: 0.125rem solid hsl(var(--clr-neutral-300));
}

.tip-calculator input[type="text"]:focus {
  outline: none;
  outline: 0.125rem solid hsl(var(--clr-primary-400));
}

.on-error input[type="text"] {
  outline: 0.125rem solid hsl(var(--clr-error));
}
.on-error input[type="text"]:hover {
  outline: 0.125rem solid hsl(var(--clr-error));
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0.125rem 1rem;
  border-radius: var(--br-small);
}

.tip__wrapper {
  position: relative;
  padding: 0.125rem 1rem;
  border-radius: var(--br-small);
}

.tip__wrapper:last-child {
  padding: 0;
}

input[data-type="primary"] {
  opacity: 0;
}

input[data-type="primary"] + label {
  position: absolute;
  inset: 0;

  display: grid;
  place-items: center;
  line-height: 1;
  background-color: hsl(var(--clr-primary-800));
  color: hsl(var(--clr-neutral-100));
  border-radius: inherit;

  z-index: 1;
}

.btn[type="reset"] {
  padding: 0.5rem 1rem;
  background-color: hsl(var(--clr-neutral-300) / 0.2);
  color: hsl(var(--clr-primary-800) / 0.9);
  cursor: not-allowed;
  align-self: end;

  position: relative;
  z-index: 1;
}

.btn[type="reset"].active {
  background-color: hsl(var(--clr-primary-400));
  color: hsl(var(--clr-primary-800));
  cursor: pointer;
}

input[data-type="primary"] + label::after,
.btn[type="reset"]::after {
  content: "";
  position: absolute;
  inset: -1px;
  background-color: hsl(var(--clr-primary-200));
  border-radius: inherit;
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms ease-out;
}

input[data-type="primary"] + label:hover {
  color: hsl(var(--clr-primary-800));
  cursor: pointer;
}

input[data-type="primary"] + label:hover::after,
.btn[type="reset"].active:hover::after {
  opacity: 1;
}

input[data-type="primary"]:checked + label {
  background-color: hsl(var(--clr-primary-400));
  color: hsl(var(--clr-primary-800));
}

input[data-type="primary"]:checked + label::after {
  background-color: hsl(var(--clr-primary-400));
  inset: 0;
}

.results {
  padding: 1.5rem;
  border-radius: var(--br-medium);
}

.results .flex {
  justify-content: space-between;
  align-items: center;
}

.error {
  color: hsl(var(--clr-error));
  position: absolute;
  inset: -50% 0 auto auto;
  transform: scaleY(100%);
}
