/* ==========
CUSTOM PROPERTIES 
=========== */
:root {

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(189, 41%, 97%);
    --clr-neutral-300: hsl(185, 41%, 84%);
    --clr-neutral-400: hsl(184, 14%, 56%);
    --clr-neutral-500: hsl(186, 14%, 43%);


    --clr-primary-400: hsl(172, 67%, 45%);
    --clr-primary-800: hsl(183, 100%, 15%);

    --ff-primary: 'Space Mono', monospace;

    --fs-200: 1rem;
    --fs-300: 1.25rem;
    --fs-400: 1.5rem;
    --fs-500: 2rem; 

    --fw-400: 400;
    --fw-700: 700;
}

/* ==========
RESET
=========== */

/* sets box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* removes default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* removes unnecessary space caused by line height */
h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

/* removes default list styling on ul and ol elements with a role of list */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* sets core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* sets core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Ggives default styling to a elements that don't have a class */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* makes images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* inherits fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* removes all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
